*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: white;
    display: flex;
    align-items: center;
    background-color: black;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

header > img{
    display: none;
    width: 50px;
}

footer{
    color: white;
    background-color: black;
    padding: 10px;
    position: fixed;
    Width: 100%;
    bottom: 0;
    text-align: center;
}

#NavUi{
    display: flex;
    gap: 10px;
    list-style: none;

}

code {
    background-color: rgb(51, 51, 51);
    border-radius: 3px;
    font-family: "Courier New", monospace;
    padding: 5px;
    color: white;
    
}

pre {
    background-color: rgb(51, 51, 51);
    border-radius: 3px;
    font-family: "Courier New", monospace;
    padding: 5px;
    color: white;
    width: min-content;
}

ul{
    padding-left: 50px;
    padding: auto;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-color: lightgray;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;

}



#Eljarasok{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

section div p{
    margin: 10px;
    font-size: 20px;
}

section h2{
    margin: 10px;
    padding: 10px;    
}


#kep > img{
    display: block;
    width: 300px;
    margin: 0 auto 0 auto;
}

textarea{
    width: 400px;
    height: 200px;
    background-color: rgb(51, 51, 51);
    border-radius: 3px;
    font-family: "Courier New", monospace;
    padding: 5px;
    color: white;
}

table{
    border: solid black 1px;
    border-collapse: collapse;
    font-size: 20px;
    display: block;
}

td{
    border: 2px black solid;
    padding: 15px;
    
}

th{
    border: 2px black solid;
    
}


/* Mobil */
@media (max-width: 576px) {

    table{
        color: white;
    }
    
    td{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border: 3px rgb(255, 255, 255) solid;
        background-color: rgb(73, 73, 73);
    }

    th{
        display: flex;
        flex-direction: column;
        border: 3px rgb(255, 255, 255) solid;
        background-color: rgb(0, 0, 0);
    }
    #image{
        display: flex;
    }
    #NavUi{
        display: none;
    }
    #NavUi.jelen{
        display: flex;
        flex-direction: column;
    }
    #image.jelen{
        display: none;
    }
    section{
        flex-direction: column;
        margin-bottom: 40px;   
    }
    .MetodusokOldalDivek{
        border: solid black 1px;
        margin-top: 20px;
        padding: 10px;
    }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 768px) {
    
}

/* Pc */
@media (min-width:769) and (max-width:1024px) {
    
}